@import "./Components/Notes/note.css";
@import "./Components/Label/label.css";
@import "./Components/Navigation/navigation.css";
@import "./Components/Container/container.css";
@import "./Components/Authentication/authentication.css";
@import "./Components/Footer/footer.css";
@import "./Components/Home/home.css";

.App{
  text-align: center;
}

.body-container{
  min-height: 85vh;
}

.grid-container {
  display: grid;
}

.modal-container {
  display: block;
}

.desktop-labels {
  display: none;
}

.loader-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (min-width: 768px) {
  .desktop-labels {
    display: block;
    grid-area: labels;
  }

  .grid-container {
    grid-template-areas: "nav nav"
      "labels notes";
      grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
  }

  .nav {
    grid-area: nav;
  }

  .notes-container {
    grid-area: notes;
  }
}

