.App {
  text-align: center;
}

.note-container {
  border-radius: 0.5rem;
  border: 2px solid var(--theme200);
  position: relative;
}

.txt-input {
  display: block;
  background-color: unset;
  color: var(--black);
}

.txt-title {
  width: 100%;
  font-size: large;
  font-weight: bold;
}

.txt-description {
  width: 100%;
  height: 8rem;
  font-size: 0.9em;
}
.fas{
  cursor: pointer;
}
.fa-thumbtack {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--theme300);
  border-radius: 50%;
  padding: 0.5rem;
  padding-top: 0.8rem;
}

.fa-thumbtack:hover{
  background-color: var(--theme100);
  color: var(--primaryBg);
}

.pinned{
  color: var(--primaryBg);
}

.color-palette{
  display: block;
  /* border: 1px solid var(--theme100); */
  width: 8rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  /* position: absolute;
  bottom: 38%;
  left:32%; */
}

.palette-container{
  display: flex;
  align-items: center;
  /* position: absolute;
  bottom: 3%;
  left: 1% */
}

.fa-circle{
  padding: 0.3rem 0.1rem;
  border-radius: 50%;
}

.fa-circle:hover{
  transform: scale(1.2);
}

.note-footer{
  display: flex;
}